p {
    color: aquamarine;
    font-size: 16px
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: "open Sans", sans-serif;
    background-image: url(./images/cat.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    background-attachment: fixed

}

#about-bootcamp{
    width: 450px;
    height: 450px;
    background: #0f347e;
    padding: 10px;
    border: 5px solid green;
    margin: 10px;
}

.text-center {
    text-align: center;
}

nav {
    background: aquamarine;

}
.text-center {
    text-align: center;

}

h1 {
    color: pink;
    background: rgb(0, 200, -244)
}

footer {
    background: #ff7788;

}

/* 

https://www.w3schools.com/css/css_colors_hex.asp
RGB Value
rgb()


r-red (0 - 255)
g-green (0 -255)
b-blue (0 -255)

color: red;
color: rgb(255, 0, 0)

color: blue;
color: rgb(0, 0, 255)

color: rgb(12, 234, 170)

color: rgb(0, 0, 0)
Sakirat Kehinde Usman
20:15
/* hexadecimal - 16 
0-9
a-f
values between 00 and ff

#rrggbb - 
#000000 - black 
#ffffff-white


#0f347e
00
11
22
33
44
55
66
77
88
99
aa
bb
cc
dd
ee
ff
*/

.form-element {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  button {
    background: purple;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
  }
table {
    width: 100%
}
th {
    font-size: 18px
}
img {
    width: 500px;
    height: 400px;
}

section p {
    text-decoration: underline;
}

section > p {
    letter-spacing: 10px;
}

section ~ p {
    word-spacing: 10px;
    color: yellowgreen
} 

section + p {
    text-transform: uppercase;
}
h1 {
    color: purple;
}
input[type="email"] {
    font-size: 30px
}

.flex-container {
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: conter;
  }

.flex-container > div {
    width: 50%;
}

@media screen and (max-width: 576px) {
    input [type="email"] {
        font-size: 14px
    }
}

.flex-container {
    flex-direction: column-reverse;
  }
  .flex-container > div {
    width: 100%;
  }

